body {
    font-family: "Ubuntu";
    background: #161111;
    margin: 0px;
}

@font-face {
    font-family: "zapf_chancery_medium_italic";
    src: url("res/zapf_chancery_medium_italic.woff") format("woff"), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url("res/zapf_chancery_medium_italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* Nav bar styles */

#nav_bar {
    background: #000000;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
}

.nav_bar_logo {
    height: 41px;
    margin: 4px;
    margin-left: 8px;
}

.nav_entry {
    color: #990000;
    float: right;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 18px;
    transition: .33s;
}

.nav_entry:hover {
    background: #FBBBBB;
    color: #220000;
    transition-duration: .5s;
}


/* Main content styles */

.content_div {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    padding-top: 2%;
    padding-bottom: 2%;

    background: #080606;
    border-radius: 30px;
}

.content_div h1 {
    font-family: "zapf_chancery_medium_italic";
    color: #990000;
    font-size: 48px;
}

.title_img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.content_div p {
    color: #DFBBBB;
    margin-right: 10%;
    margin-left: 10%;

    line-height: 1.5;
    text-indent: 50px;
}
